# Build directories
build/
out/
cmake-build-*/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
wheelhouse/
.venv/
venv/
_skbuild/

# .NET
bin/
obj/
*.user

# IDE / editor
.vs/
.vscode/
.idea/
CMakeUserPresets.json

# OS
Thumbs.db
.DS_Store

debug/